* {
   box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f1ebeb3c;
    font-family: sans-serif;

}
.pd-10{
    padding-bottom: 100px;
}
section{
    display: block;
}

nav a {
    color: rgb(141, 29, 29);
    font-size: 150%;

}
.container-sec{
    max-width: 900px;
}
.container-prim, .container-sec{
    margin: 0 auto;
    padding: 0 15px;

}
div{
    display: block;
}

input, textarea {
    width: 100%;
    margin-bottom: 22px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.25rem;
    border: 2px solid var(--color-sec);
    border-radius: 6px;
    background-color: #ffffff;
    color: var(--txtcolor-prim);
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Open Sans";
    -webkit-appearance: none;

}
textarea {
    display: block;
    height: 14rem;
}
.btn-submit {
    display: inline-block;
    width: 100%;
    height: 3.75rem;
    border: 2px solid rgb(142, 53, 68);
    border-radius: 6px;
    background-color: pink;
    color: #ffffff;
    font-weight: 600;
    font-size: 1rem;
    line-height: 0;
    font-family: "Open Sans";
    cursor: pointer;
    transition: all 0.2s;
}
:root {
    --bgcolor: #f8f9fa;
    --txtcolor-prim: #444444;
    --txtcolor-sec: #888888;
    --color-prim: #2d7fee;
    --color-sec: #dddddd;
}

section a{
    color: rgb(208, 114, 129);
}
a:hover{
    background: white;
    color: rgb(224, 129, 161);}

footer .three{
    padding: 5%;
}