* {
    
    margin: 0;
    padding: 0;
    background-color: #f1ebeb3c;
    font-family: sans-serif;

}

nav a {
    color: rgb(141, 29, 29);
    font-size: 150%;
}
a:hover{
    background: white;
    color: rgb(224, 129, 161);
}
main .four{
    color: rgb(156, 97, 97);
}